.git
.github
.cursor
.vscode
.idea
.DS_Store
**/node_modules
**/dist
**/build
**/.turbo
**/.next
**/.cache
**/coverage
**/Pods
**/DerivedData
**/artifacts
**/cache
**/*.log
**/.env
**/.env.*
.yarn/cache
