# Root .prettierignore
**/node_modules/**
**/.yarn/**
**/dist/**
**/build/**
.gradle-home/**
**/coverage/**
**/Pods/**
app/vendor/**
circuits/build/**
contracts/artifacts/**
contracts/cache/**
contracts/typechain-types/**
packages/webview-app/public/animations/**
.nvmrc
.watchmanconfig
