<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:extractNativeLibs="false"
        android:allowBackup="false"
        tools:replace="android:icon, android:roundIcon, android:name, android:extractNativeLibs, android:allowBackup">
        <!-- Same ML Kit override as the main manifest; the unit-test manifest
             merge does not inherit it -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color"
            tools:replace="android:resource" />
    </application>
</manifest>
